@media (min-width: 1200px) {
}

@media (max-width: 992px) {
}

/* Tablets (landscape) */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
}

/* Tablets (portrait) */
@media (max-width: 768px) {
}

/* Smartphones (portrait) */
@media (max-width: 480px) {
	.title-game {
		font-size: 20px;
	}

	.subtitle-game {
		font-size: 16px;
	}

	.score {
		width: 40%;
	}

	.icon-rock,
	.icon-paper,
	.icon-scissors {
		padding: 15px;
		margin: 10px 40px;
    }
    
    .results{
        font-size: 25px;
        text-align: center;
    }
}
