/*==========  Non-Mobile First // Responsive Web Design ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
	.results {
		font-size: 24px;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
	.score {
		width: 25%;
	}

	.results {
		font-size: 24px;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
	.score {
		width: 30%;
	}
	.results {
		font-size: 21px;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
	.title-game {
		font-size: 20px;
	}

	.subtitle-game {
		font-size: 16px;
	}

	.score {
		width: 70%;
	}

	.icon-rock,
	.icon-paper,
	.icon-scissors {
		padding: 15px;
		margin: 10px 20px;
	}

	.results {
		font-size: 18px;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
	sup {
		font-size: 10px;
	}
	.score {
		width: 60%;
	}

	.icon-rock,
	.icon-paper,
	.icon-scissors {
		padding: 10px;
		margin: 10px 20px;
	}

	.results {
		font-size: 15px;
	}
}
