:root {
	--background: #0f111a;
	--white: #ffffff;
	--purple: #453c4b;
	--red: #ff6961;
	--hands: #e0b0b0;
}

body {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	width: 100%;
	background-color: var(--background);
	display: flex;
	flex-direction: column;
	align-items: center;
}

header {
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: var(--purple);
	color: var(--white);
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
}

.title-game {
	margin: 0;
}

.subtitle-game {
	margin: 10px;
}

main {
	width: 100%;
	color: var(--white);
	margin: 20px;
	padding: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.score {
	width: 20%;
	padding: 10px;
	border: 3px solid var(--white);
	position: relative;
	text-align: center;
	font-size: 35px;
}

.user-title {
	position: absolute;
	left: -25px;
	top: 20px;
	padding: 2px;
	background: var(--red);
	font-size: 16px;
}

.machine-title {
	position: absolute;
	right: -35px;
	top: 20px;
	padding: 2px;
	background: var(--red);
	font-size: 16px;
}

.user-score,
.machine-score {
	padding: 5px;
}

.make-title {
	padding-top: 50px;
	margin: 0px;
}

.icons-hands {
	margin: 20px;
	display: flex;
	flex-direction: row;
	font-size: 40px;
	color: var(--hands);
	transition: all 0.2s ease-in-out;
}

.icon-rock,
.icon-paper,
.icon-scissors {
	padding: 25px;
	margin: 20px 50px;
	border-radius: 50%;
	border: 4px solid var(--white);
}
.icon-rock:hover,
.icon-paper:hover,
.icon-scissors:hover {
	background: var(--purple);
	cursor: pointer;
}

.icon-rock {
	transform: rotate(90deg);
}
